<ion-header>
  <ion-navbar color="main">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{project.name}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="createTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar [(ngModel)]="searchName" (ionInput)="getDataFromApi()"></ion-searchbar>
  </ion-item>
  <ion-item>
    <button ion-button (click)="this.showFilter=!this.showFilter">{{showFilter ? 'Hide' : 'Show'}} filters</button>
  </ion-item>
  <ion-item *ngIf="this.showFilter">
    <ion-label>Id</ion-label>
    <ion-input [(ngModel)]="searchId" (input)="getDataFromApi()"></ion-input>
  </ion-item>
  <ion-item *ngIf="this.showFilter">
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="searchDone" (ionChange)="getDataFromApi()">
      <ion-option value="all" selected="true">All</ion-option>
      <ion-option value="done">Open</ion-option>
      <ion-option value="notDone">Closed</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="this.showFilter">
    <ion-label>Priority</ion-label>
    <ion-select [(ngModel)]="searchPriority" (ionChange)="getDataFromApi()">
      <ion-option value="all" selected="true">All</ion-option>
      <ion-option value="0">0</ion-option>
      <ion-option value="1">1</ion-option>
      <ion-option value="2">2</ion-option>
      <ion-option value="3">3</ion-option>
      <ion-option value="4">4</ion-option>
      <ion-option value="5">5</ion-option>
      <ion-option value="6">6</ion-option>
      <ion-option value="7">7</ion-option>
      <ion-option value="8">8</ion-option>
      <ion-option value="9">9</ion-option>
      <ion-option value="10">10</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="this.showFilter">
    <ion-label>Assigned to</ion-label>
    <ion-input [(ngModel)]="searchAssigned" (input)="getDataFromApi()"></ion-input>
  </ion-item>
  <ion-list inset>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="itemTapped($event, item)">
        <h3 *ngIf="item.done" color="danger">
          <ion-icon name="checkmark" color="danger"></ion-icon>
          #{{item.id}} {{item.name}}
        </h3>
        <h3 *ngIf="!item.done">
          #{{item.id}} {{item.name}}
        </h3>
        <p>{{item.description}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button *ngIf="item.done" ion-button (click)="openTask(item)">
          <ion-icon name="checkmark"></ion-icon>
          Open
        </button>
        <button *ngIf="!item.done" ion-button color="danger" (click)="closeTask(item)">
          <ion-icon name="checkmark"></ion-icon>
          Close
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
