list-notification {

  .notification {
    .container-icon {
      width: 40px;
    }
    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .sender {
      .name {
        font-weight: bold;
      }
    }
  }

}
